[submodule "vipe"]
	path = vipe
	url = https://github.com/nv-tlabs/vipe.git
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
